[project]
	description = A flexible, opinionated sorting plugin for jQuery
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonas von Andrian (johnny)
[access "refs/for/refs/*"]
	read = group user/Jonas von Andrian (johnny)
	push = group user/Jonas von Andrian (johnny)
	label-Code-Review = -2..+2 group user/Jonas von Andrian (johnny)
	label-Verified = -1..+1 group user/Jonas von Andrian (johnny)
	rebase = group user/Jonas von Andrian (johnny)
	removeReviewer = group user/Jonas von Andrian (johnny)
	submit = group user/Jonas von Andrian (johnny)
[access "refs/heads/*"]
	read = group user/Jonas von Andrian (johnny)
	create = group user/Jonas von Andrian (johnny)
	push = +force group user/Jonas von Andrian (johnny)
	pushMerge = group user/Jonas von Andrian (johnny)
[access "refs/tags/*"]
	push = +force group user/Jonas von Andrian (johnny)
	pushTag = group user/Jonas von Andrian (johnny)
	pushSignedTag = group user/Jonas von Andrian (johnny)
