.hero-unit
  %h1 Simple Drag and drap sorter
.row
  .span4
    %h1 Simple List 1
    %ul.simpleDD
      %li First
      %li Second
      %li Third
      %li Fourth
      %li Fifth
      %li Sixth
  .span4
    %h1 Simple List 2
    %ul.simpleDD
      %li First
      %li Second
      %li Third
      %li Fourth
      %li Fifth
      %li Sixth
  .span4
    %h1 Simple List 3
    %ul.simpleDD
      %li First
.row
  .span6
    %h1 Nested List 1
    %ul.simpleDD2
      %li First
      %li Second
      %li
        Third
        %ul
          %li First
          %li Second
          %li Third
          %li Fourth
          %li Fifth
          %li Sixth
      %li Fourth
      %li Fifth
      %li Sixth
  .span6
    %h1 Nested List 2
    %ul.simpleDD2
      %li First
      %li Second
      %li
        Third
        %ul
          %li First
          %li Second
          %li Third
          %li Fourth
          %li Fifth
          %li Sixth

.row
  .navbar
    .navbar-inner
      .container
        %ul.nav.pull-left
          %li
            %a(href="#") First
          %li
            %a(href="#") Second
          %li
            %a(href="#") Third
          %li.divider-vertical
          %li.dropdown.open
            %a(href="#") Fourth
            %ul.dropdown-menu
              %li
                %a(href="#") First
              %li
                %a(href="#") Second
              %li
                %a(href="#") Third
          %li
            %a(href="#") Fifth
          %li
            %a(href="#") Sixth
        %ul.nav.pull-right
          %li
            %a(href="#") First
          %li
            %a(href="#") Second
          %li
            %a(href="#") Third
          %li.divider-vertical
          %li
            %a(href="#") Fourth
          %li
            %a(href="#") Fifth
          %li
            %a(href="#") Sixth
