.hero-unit
  %h1 Simple Drag and drap sorter
.row
  .span4
    %h1 Simple List 1
    %ul.simpleDD
      %li First
      %li Second
      %li Third
      %li Fourth
      %li Fifth
      %li Sixth
  .span4
    %h1 Simple List 2
    %ul.simpleDD
      %li First
      %li Second
      %li Third
      %li Fourth
      %li Fifth
      %li Sixth
  .span4
    %h1 Simple List 3
    %ul.simpleDD
      %li First
.row
  .span6
    %h1 Nested List 1
    %ul.simpleDD2
      %li First
      %li Second
      %li
        Third
        %ul
          %li First
          %li Second
          %li Third
          %li Fourth
          %li Fifth
          %li Sixth
      %li Fourth
      %li Fifth
      %li Sixth
  .span6
    %h1 Nested List 2
    %ul.simpleDD2
      %li First
      %li Second
      %li
        Third
        %ul
          %li First
          %li Second
          %li Third
          %li Fourth
          %li Fifth
          %li Sixth
