!!!
%html
  %head
    %title SimpleDD
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="css/bootstrap-switch.css")
    %link(rel="stylesheet" href="css/application.css")
%body
  .container
    = yield
  %script(src="js/application.js")
