.row {
  position: relative; }

ul {
  list-style-type: none; }

.switch-container {
  display: inline; }

ul.nested li {
  cursor: move; }

ul.simple li, ul.nested li, ul.no-drop li {
  background-color: white; }
ul.simple i.icon-move, ul.nested i.icon-move, ul.no-drop i.icon-move {
  cursor: move; }
ul.simple li.placeholder, ul.nested li.placeholder, ul.no-drop li.placeholder {
  background: red;
  position: relative; }
  ul.simple li.placeholder:before, ul.nested li.placeholder:before, ul.no-drop li.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none; }
ul.simple li.dragged, ul.nested li.dragged, ul.no-drop li.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000; }

ul.nav li, ul.nav li a {
  cursor: move; }
ul.nav li.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  background-color: #2c2c2c;
  z-index: 2000; }
ul.nav li.placeholder {
  background: red;
  position: relative; }
  ul.nav li.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: red;
    top: -6px;
    margin-left: -5px;
    border-bottom: none; }
ul.nav ul.dropdown-menu li.placeholder:before {
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  margin-left: none;
  top: 0;
  left: 10px;
  border-right: none; }
