!!!
%html
  %head
    %title jQuery Sortable
    %link(rel="stylesheet" href="css/vendor.css")
    %link(rel="stylesheet" href="css/application.css")
  %body
    .bootstrap-container
      = yield
    %script(src="js/debug.js")
